/* app css stylesheet */

.menu {
  list-style: upper-latin;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu > li {
  display: inline;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: burlywood;
  opacity: 1; /* Firefox */
}


.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.tblSpan
{
  width:200px;
  height:auto;
  margin:20px 20px 20px 20px;

}